#root {
  max-width: 1280px;
  text-align: center;
  width: max-content;
  height: max-content;
}


.card {
  padding: 2em;
  background-color: #FFFFFF;
  border: 1px solid #D4AF37;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05); /* soft shadow */
  transition: transform 0.2s ease, box-shadow 0.2s ease;

}
.card-smal {
  background-color: #FFFFFF;
  border: 1px solid #D4AF37;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05); /* soft shadow */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
}


.read-the-docs {
  color: #888;
}

.fullviewport{
  width:100vw;
  height: 100vh;
}
.pageviewport{
  width:90vw;
  height: 90vh;
}

.logo{
  width:24px;
  height: 24px;
  background-color: transparent;
}

.potrait{
  width: 70px;
  height: fit-content;
  background-color: transparent;
}
